$font: 400 16px "Poppins", sans-serif;
$line-height: 1.5;
$font-color: #000000;
// $font-color: red;
$font-color-tag: #ffffff;
$bg-html: #e93e30;
$bg-js: #f7e018;
$bg-css: #299ed5;
$bg-react: #292c33;
$bg-vue: #67c770;
$bg-bootstrap: #563d7c;
$bg-post: #eeeeee;
$bg-adl: #729e2e;
// $bg-adl: #63af2b; // segun color picker en maqueta
$border-color-login: #83828283;
$border-radius-login: 8px;
$border-radius-post: 16px;